params {
  data_dir        = "/data/WHRI-Phenogenomics/resources/exomiser/data"
  exomiser_distribution_dir = "/data/scratch/bty201/pheval-pipeline"
  config_template = "$baseDir/configs/exomiser_config_template.yml"

  exomiser_configs = [
    [ config_id: "exomiser-14.1.0/2508_all", exomiser_version: "14.1.0", phenotype_db: "2508", hg19_db: "2508", hg38_db: "2508", preset: "preset-exome-analysis.yml" ],
    [ config_id: "exomiser-14.1.0/2508_human_only", exomiser_version: "14.1.0", phenotype_db: "2508", hg19_db: "2508", hg38_db: "2508", preset: "preset-exome-analysis_human_only.yml" ]
  ]
  corpora_configs = [
      [corpora_id: "LIRICAL", phenopacket_directory: "/data/scratch/bty201/corpora/phenopackets", vcf_directory: "/data/scratch/bty201/corpora/vcf", batch_size: 100]
  ]
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  hpc {
    includeConfig 'conf/hpc.config'
  }
}