params {

  configurations_dir = "${projectDir}/configurations"
  corpora_dir        = "${projectDir}/corpora"
  results_dir        = "${projectDir}/results"
  benchmark_dir      = "${projectDir}/benchmark"


  exomiser_data_dir        = "/data/WHRI-Phenogenomics/resources/exomiser/data"
  exomiser_distribution_dir = "/data/scratch/bty201/pheval-pipeline"
  exomiser_config_template = "${projectDir}/modules/tools/exomiser/exomiser_config_template.yml"

  exomiser_configs = [
    [
        config_id: "exomiser-14.1.0/2508_all",
        exomiser_version: "14.1.0",
        phenotype_db: "2508",
        hg19_db: "2508",
        hg38_db: "2508",
        exomiser_analysis: "preset-exome-analysis.yml"
        ],
    [
        config_id: "exomiser-14.1.0/2508_human_only",
        exomiser_version: "14.1.0",
        phenotype_db: "2508",
        hg19_db: "2508",
        hg38_db: "2508",
        exomiser_analysis: "preset-exome-analysis_human_only.yml"
        ]
  ]

 gado_configs = [
     [
       config_id = "gado"
       gado_version: "1.0.0",
       gado_command_line: "https://github.com/molgenis/systemsgenetics/releases/download/GADO_1.0.4/GadoCommandline-1.0.4.tar.gz"
       prediction_matrix: "https://molgenis26.gcc.rug.nl/downloads/genenetwork/v2.1/genenetwork_bonf_spiked.zip"
       prediction_info: "https://molgenis26.gcc.rug.nl/downloads/genenetwork/v2.1/predictions_auc_bonf.txt"
       genes: "https://molgenis26.gcc.rug.nl/downloads/genenetwork/v2.1/hpo_prediction_genes.txt"
       hpo_ontology: "https://github.com/obophenotype/human-phenotype-ontology/releases/download/v2024-12-12/hp.obo"
         ]
     ]

  corpora_configs = [
      [
          corpora_id: "LIRICAL",
          phenopacket_directory: "/data/scratch/bty201/corpora/phenopackets",
          vcf_directory: "/data/scratch/bty201/corpora/vcf",
          ],
      [
          corpora_id: "TEST",
          phenopacket_directory: "/data/scratch/bty201/corpora/phenopackets_2",
          vcf_directory: "/data/scratch/bty201/corpora/vcf_2",
          ]
  ]
}


profiles {
  local {
    includeConfig 'conf/local.config'
  }
  hpc {
    includeConfig 'conf/hpc.config'
  }
}