process {
    executor = 'sge'
    queue    = 'all.q'
    container = ''   // default no container

    // default: lightweight jobs (1h, 1GB, 1 core)
    clusterOptions = '-cwd -j y -pe smp 1 -l h_vmem=1G -l h_rt=01:00:00'

    withName:prepareExomiserConfigurations {
        clusterOptions = '-cwd -j y -pe smp 1 -l h_vmem=2G -l h_rt=01:00:00'
        container = ''
    }

    withName:prepareCorpora {
        clusterOptions = '-cwd -j y -pe smp 1 -l h_vmem=2G -l h_rt=01:00:00'
        container = ''
    }

    withName:runExomiserRunner {
        clusterOptions = '-cwd -j y -pe smp 4 -l h_vmem=2G -l h_rt=240:00:00'
        container = "sif/pheval-exomiser-0.6.5.sif"
    }

    withName:benchmark {
        clusterOptions = '-cwd -j y -pe smp 4 -l h_vmem=2G -l h_rt=01:00:00'
        container = "sif/pheval-exomiser-0.6.5.sif"
    }
}

singularity {
    enabled    = true
    autoMounts = true
}